* {
  box-sizing: border-box;
}

#navBar{
  position: relative;
  width: 100%;
  height: 10vh;
  background-color: black;
}

nav{
  display: flex;
  width: 84%;
  margin: auto;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
}

nav ul li{
  display: inline-block;
  font-size: large;
  list-style: none;
  margin: 10px 20px;
  justify-content: flex-end;
}

.hero-banner{
  margin: 0% 0%;
  display: flex;
  min-height: 100px;
  height: 20vh;
  justify-content: flex-end;
  background-image: url("../images/02-hero-bg.jpg");
  background-color: blue;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

.page-wrapper {
  margin: 0px 0px;
  display: grid;
  min-height: 500px;
}

.page-section {
  margin: 0% 5%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 25% 25% 25%;
  border-style: dotted;
  gap: 10px;
}

.container {
  display: grid;
  min-height: 300px;
  height: 70vh;
  grid-template-columns: 50% 50%;
  grid-template-rows: 30% 30% 30%;
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.heading {
  font-size: 35;
  color: black;
  background-color: aqua;
}

.contact {
  margin: 0px 0px;
  display: grid;
  min-height: 500px;
  
}

#surfReport {
  grid-column: 1 / 3;
  background-image: url('../images/02-portfolio-4.jpg');
}

#ledwall {
  background-image: url('../images/02-portfolio-1.jpg');
}

#calculator {
  background-image: url('../images/02-portfolio-2.jpg');
}

#runbuddy {
  background-image: url('../images/02-run-buddy.jpg');
}

#pastle {
  background-image: url('../images/02-portfolio-3.jpg');
}

h1{
  font-size: 35;
  color: black;
  background-color: aqua;
}

h2 {
  font-size: x-large;
  color: black;
  background-color: aqua;
}

h3 {
  font-size: larger;
  color: black;
}

h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

